.splash-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5% 1% 4%;
  width: 90%;
  position: absolute;
}

.splash-main {
    background-image: image_url('main.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
    background-position-y: 75%;
    background-attachment: fixed;
}

.sans-serif {
  font-family: sans-serif;
}

.nanum {
  font-family: 'Nanum Pen Script', cursive;
}

.melody {
  font-family: 'Hi Melody', cursive;
}

.pathway {
  font-family: 'Pathway Gothic One', sans-serif;
}

.splash-banner {
  padding: 15% 8% 0 5%;
  p {
    font-size: 40px;
    font-weight: lighter;
    text-align: left;
    color: white;
  }
}

.splash-button1 {
  background: transparent;
  border: none;
  font-family: sans-serif;
  font-size: 14px;
  color: #dcba9a;
}

.splash-button1:hover {
  cursor: pointer;
  color:#d7b08c;
}

.splash-button2 {
  background: transparent;
  border: none;
  font-family: sans-serif;
  font-size: 14px;
  color: #dcba9a;
  padding-left: 10px;
}

.splash-button2:hover {
  cursor: pointer;
  color:#d7b08c;
}

.splash-logo {
  width: 50px;
  height:auto;
}

.dd-opened {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 1%;
  li {
    color: #dcba9a;
    padding:5px 0 5px 0;
    width: 90px;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  li:hover {
    color: #d7b08c;
    padding:5px 0 5px 0;
    width: 90px;
    a:hover {
      text-decoration: none;
      color: inherit;
      color:inherit;
    }
  }
}

.dd-closed {
  display: none;
  li {
    display: none;
  }
}
