.dropzone {
  height: 100%;
  display: flex;
  align-items:center;
  flex-direction: column;
}

.dropzone > p {
  display: flex;
  width: 500px;
  text-align: center;
  padding-top: 24%;
  color: #dcba9a;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
  flex-direction: column;
  align-items: center;
}

.upload-button {
  background-color: #dcba9a;
  width: 180px;
  height: 40px;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin-bottom: 10%;
}

.upload-button:hover {
  background-color: #d7b08c;
  cursor: pointer;
}

.upload-cover {

}
